@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Anton&family=Archivo:wght@200&family=Bungee+Spice&family=Comfortaa:wght@300&family=Lato:wght@300;400;700&family=Lobster&family=Nabla&family=Open+Sans:wght@300&family=Plus+Jakarta+Sans:wght@200;300&family=Poppins:wght@300&family=Quantico&family=Roboto:wght@100;300&family=Rubik&family=Source+Sans+Pro:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Rubik";
}
body{
    background-color: rgb(30, 30, 30);
    color:white;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.container-login, .container-newUser{
    border: 2px solid yellowgreen;
    border-radius: 10px;
    width: 280px;
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s; 
}

#form_login, #form_newUser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.user, .password, .newUser__password,.newUser__repeatPassword, .newUser__username,.newUser__email{
    width: 180px;
    height: 30px;
    border-radius: 5px;
}
.btnIngresar,.newUser__submit{
    width: 120px;
    height: 25px;
    cursor: pointer;
}
.link-createUser{
    font-size: 1rem;
    color:white;
}

/* NEW USER*/
/* hay propiedades heredadas de LOGIN*/

.container-newUser{
    border:2px solid yellow;
    padding-top: 70px;
    padding-bottom: 20px;
    position: relative;
    margin-top: 2rem;
   
}
#form_newUser{
    gap:25px;
    
}
.container_name,.container_password, .container_email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container_password{
    gap:5px;
}

.message-okay{
position: absolute;
top:20px;
font-size: 1.1rem;
}
.message-fail{
    position:absolute;
    top:15px;
    text-align: center;
}
.message-password{
    text-align: center;
}

/*ESTILOS DE USERPROFILE*/
.container-userProfile{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid yellowgreen;
    border-radius: 10px;
    padding:20px;
 }
 .userProfile{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap:20px;

 }
 #form_img_profile{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap:10px;
 }
 .title_profile{
    font-size: 2rem;
    letter-spacing: 1px;
 }
 #input_img_profile{
    width: 200px;
    height: 25px;
    border-radius: 7px;
    padding-left:8px;
 }
 .img_profile{
     width: 350px;
     height: 350px;
     object-fit: cover;
     border-radius: 50%;
     padding:5px;
     background-color: rgb(255, 225, 0);
 }
 .message-newUser{
     text-align: center;
 }
 .message-error{
     color:red;
     font-size: 1rem;
 }
 .irAinicio, .irAinicioProfile{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color:yellow;
 }
 .irAinicio:hover, .irAinicioProfile:hover {
   color:yellowgreen;
 }

 /*BUTTONS*/
 .btnIngresar{
    text-align: center;
    background-color: yellow;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    font-weight: 500;
    font-size: 0.9rem;
 }
 
 .newUser__submit{
    text-align: center;
    background-color: yellow;
    border-radius: 20px;
    width: 140px;
    height: 30px;
    font-weight: 500;
    font-size: 0.9rem;
 }
 
 .btnImagen{
    text-align: center;
    background-color: yellow;
    border-radius: 20px;
    width: 140px;
    height: 30px;
    font-weight: 500;
    font-size: 0.9rem;
 }
 .message_profile_error{
    margin-bottom: 20px;
    font-size: 1rem;
    letter-spacing: 0.7px;
    text-align: center;
 }